<div class="row">
  <div class="col-12">
      <div class="content-header" i18n>Properties</div>
      <p class="content-sub-header" i18n>List of your current properties.</p>
  </div>
</div>
<section id="extended">
  <div class="row" *ngIf="!isLoading">

    <section *ngIf="errorMessage">
        <div class='error'>
          <p>{{ errorMessage }}</p>
          <p>
            <a href="/login?returnUrl=/app/property/list">Login Again</a>
          </p>
        </div>
      </section>

      <div class="col-sm-12"  >
        <div class="card">
          <div class="card-body">
            <div class="card-block" style="overflow-x:auto">

              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th i18n>Alias</th>
                    <th i18n>Type</th>
                    <th i18n>Address</th>
                    <th i18n>Units</th>
                    <th i18n></th>
                  </tr>
                </thead>

                <tfoot>
                  <td colspan="3"></td>
                  <td colspan="1">
                      &nbsp;<button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>+</button>
                  </td>
                </tfoot>
                <tbody>
                  <tr *ngIf="properties && properties.length == 0">
                    <td colspan="5" i18n> 
                      You don't have any properties listed. Click the
                      <button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>Add</button>
                      button to start your journey.
                    </td>
                  </tr>
                  <tr *ngFor="let bl of properties"> 
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.name || bl.address.address1}}</a>
                    </td>
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">
                        <!-- TODO use pipe or array filter instead -->
                        <span *ngFor="let thing of propertyTypes">
                            <span *ngIf="thing.code == bl.type">{{thing.value}}</span>
                        </span>
                      </a>
                    </td>
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.address?.address1}}</a>
                    </td>
                    <td *ngIf="bl.type == '3'">
                      <a *ngFor="let unit of bl.units; let isLast=last">
                        {{unit.number}}{{isLast ? '' : ', '}}
                      </a>
                    </td>
                    <td *ngIf="bl.type != '3'">N/A</td>
                    <td>
                      <button type="button" (click)="delete( bl.eid )" class="btn btn-secondary btn-sm" i18n>
                        <i class="ft-trash-2"></i>
                      </button>
                    </td> 
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>

