<div class="row">
  <div class="col-12">
    <p class="content-header" i18n>Properties</p>
    <p class="content-sub-header" *ngIf="update" i18n>Update your property.</p>
    <p class="content-sub-header" *ngIf="!update" i18n>Add a new property to your portfolio.</p>
  </div>
</div>

<div *ngIf="errorMessage" class="row">
  <div class="col-lg-12 col-xs-12">
    <div class='error'>
      <p>ERROR ERROR ERROR TODO</p>
      <p>
        <a href="/login?returnUrl=/app/property/list">Login Again</a>
      </p>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="row">
  <div class="col-lg-12 col-xs-12">
    <div>
      <p i18n>Loading...</p>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && !propertyIsLoading" class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <form novalidate="novalidate" [formGroup]="propertyForm" (ngSubmit)="onSubmit(propertyForm)">
      <input type="hidden" id="eid" name="eid" formControlName="eid">

      <!-- Details -->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Details</h4>
        </div>
        <div class="card-body">

          <div class="px-3">
            <div class="form-body row">
              <label for="name" class="col-sm-2 col-md-2 control-label" i18n>Property Alias</label>
              <div class="col-md-6 col-xs-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="Property Alias ex: Blue house, Mom's condo, 12 sunny rd)"
                  formControlName="name" i18n-placeholder>
                <p>
                  <small class="text-muted">Used accross the application to reference this property.</small>
                </p>
              </div>
            </div>
            <div class="form-body row">
              <label for="purchasePrice" class="col-sm-2 col-md-2 control-label" i18n>Purchased Price</label>
              <div class="col-md-3 col-xs-3 input-group">
                <input type="number" class="form-control" id="purchasePrice" name="purchasePrice" placeholder="" formControlName="purchasePrice">
                <span class="input-group-addon">$</span>
              </div>
              <label for="purchaseDate" class="col-sm-2 col-md-2 control-label" i18n>Purchased Date</label>
              <div class="col-md-3 col-xs-3 input-group">
                <input type="date" id="purchaseDate" class="form-control" name="purchaseDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Purchased">
                <div class="input-group-addon">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
            <div class="form-body row">
              <label for="evaluation" class="col-sm-2 col-md-2 control-label" i18n>Evaluation</label>
              <div class="col-md-3 col-xs-3 input-group">
                <input type="number" class="form-control current" id="evaluation" name="evaluation" placeholder="" formControlName="evaluation"
                  i18n-placeholder>
                <span class="input-group-addon">$</span>
              </div>
              <label for="evaluationDate" class="col-sm-2 col-md-2 control-label" i18n>Evaluation Date</label>
              <div class="col-md-3 col-xs-3 input-group">
                <input type="date" id="evaluationDate" class="form-control" name="evaluationDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Evaluation Date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" (click)="onSubmit(this.propertyForm)" [disabled]="!propertyForm.valid" class="btn btn-primary btn-raised" i18n>Save</button>
          <button type="button" (click)="cancel()" class="btn btn-secondary " i18n>Cancel</button>
        </div>
      </div>

      <!-- Address -->
      <fieldset formGroupName="address">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Address</h4>
          </div>
          <div class="card-body">
            <div class="px-3">
              <div class="form-body row">
                <label for="address1" class="col-sm-2 col-md-2 control-label" i18n>Address</label>
                <div class="col-md-6 col-xs-6">
                  <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 1" formControlName="address1"
                    i18n-placeholder>
                </div>
              </div>
              <div class="form-body row">
                <label for="address2" class="col-sm-2 col-md-2 control-label" i18n></label>
                <div class="col-md-6 col-xs-6">
                  <input type="text" class="form-control" id="address2" name="address2" placeholder="Address line 2" formControlName="address2"
                    i18n-placeholder>
                </div>
              </div>
              <div class="form-body row">
                <label for="city" class="col-sm-2 col-md-2 control-label" i18n>City</label>
                <div class="col-md-6 col-xs-6">
                  <input type="text" class="form-control" id="city" name="city" placeholder="City" formControlName="city" i18n-placeholder>
                </div>
              </div>
              <div class="form-body row">
                <label for="provinceState" class="col-sm-2 col-md-2 control-label" i18n>Province/State</label>
                <div class="col-md-6 col-xs-6">
                  <select id="provinceState" name="provinceState" formControlName="provinceState" data-theme="bootstrap" data-placeholder="Choose a Province or State..."
                    class="form-control select2" i18n-data-placeholder>
                    <option *ngFor="let province of provinces" [ngValue]="province.code"> {{ province.value}} </option>
                  </select>
                </div>
              </div>
              <div class="form-body row">
                <label for="country" class="col-sm-2 col-md-2 control-label" i18n>Country</label>
                <div class="col-md-6 col-xs-6">
                  <select id="country" name="country" formControlName="country" data-theme="bootstrap" data-placeholder="Choose a Country..."
                    class="form-control select2" i18n-data-placeholder>
                    <option *ngFor="let country of countries" [ngValue]="country.code"> {{ country.value}} </option>
                  </select>
                </div>
              </div>

              <div class="form-body row">
                <label for="postalZipCode" class="col-sm-2 col-md-2 control-label" i18n>Postal/Zip Code</label>
                <div class="col-md-6 col-xs-6">
                  <input type="text" class="form-control" id="postalZipCode" name="postalZipCode" placeholder="Postal or Zip Code" formControlName="postalZipCode"
                    i18n-placeholder>
                </div>
              </div>

              <!-- Basic Spacer at the bottom -->
              <div class="form-body row">
                <div class="col-md-8 col-xs-8">
                  &nbsp;
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="onSubmit(this.propertyForm)" [disabled]="!propertyForm.valid" class="btn btn-primary btn-raised" i18n>Save</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary " i18n>Cancel</button>
          </div>
        </div>
      </fieldset>


      <!-- Units -->
      <fieldset>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Unit(s) Information</h4>
          </div>
          <div class="card-body">
            <div formArrayName="units">
              <div *ngFor="let unit of propertyForm.controls.units.controls; let i=index" class="panel panel-default">
                <div class="px-3">
                  <unit [group]="propertyForm.controls.units.controls[i]"></unit>
                  <button *ngIf="i > 0" type="button" (click)="removeUnit(i)" class="btn btn-secondary" i18n>
                    <i class="ft-trash-2"></i>
                  </button>
                </div>
                <div class="px-3">
                  <hr class="col-md-8 col-xs-8" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="onSubmit(this.propertyForm)" [disabled]="!propertyForm.valid" class="btn btn-primary btn-raised" i18n>Save</button>
            <button type="button" (click)="addUnit()" class="btn btn-primary btn-raised" i18n>Add Unit</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary " i18n>Cancel</button>

          </div>
        </div>
      </fieldset>

      <div *ngIf="property.eid && property.documents.length > 0" class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Property Documentation</h4>
        </div>
        <div class="card-body">
          <div class="px-3">
            <label for="uploadeddoc">Uploaded documents for this property</label>
            <ul class="list-group row">
              <li class="list-group-item" *ngFor="let doc of property.documents; let i = index;">
                <button type="button" (click)="deleteDocument(i, doc.eid)" class="btn btn-secondary" i18n>
                  <i class="ft-trash-2"></i>  
                </button>
                <a href="http://localhost:8080/api/document/{{doc.eid}}" target="_blank">
                  {{doc.fileName}}
                </a>
              </li>
            </ul>         
          </div>
        </div>
        <div class="card-footer">
            &nbsp;
        </div>
      </div>

      <div *ngIf="property.eid" class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Add Documentation</h4>
        </div>
        <div class="card-body">
          <div class="px-3">
            <label for="uploadeddoc">Upload any document related to this property for reference purposes</label>
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
            class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
              &nbsp;Drop New Files here<br/>(pdf, doc, jpg)
            </div>
            <table class="table">
              <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs btn-raised"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs btn-raised"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs btn-raised"
                            (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <div>
              <div>
                Queue progress:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-s btn-raised"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s btn-raised"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s btn-raised"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
            </div>
            <button type="button" (click)="onSubmit(this.propertyForm)" [disabled]="!propertyForm.valid" class="btn btn-primary btn-sm btn-raised" i18n>Save</button>
            <button type="button" (click)="cancel()"class="btn btn-secondary btn-sm btn-raised" i18n>Cancel</button>
            <!-- <pre>myForm value: <br>{{propertyForm.value | json}}</pre> -->
          </div>
        </div>
        <div class="card-footer">
          &nbsp;        
        </div>
      </div>
    </form>
  </div>
</div>