<div [formGroup]="tenantForm">
    <input type="hidden" id="eid" name="eid" formControlName="eid">
    <div class="row">
      <label for="firstName" class="col-xs-12 col-lg-2 control-label" i18n>First Name</label>
      <div class="col-sm-12 col-lg-3">
        <input type="text" class="form-control" 
               id="firstName" name="firstName" placeholder="" 
               formControlName="firstName" i18n-placeholder>
      </div>
      <label for="lastName" class="col-xs-12 col-lg-2 control-label" i18n>Last Name</label>
      <div class="col-sm-12 col-lg-3">
        <input type="text" class="form-control" 
               id="lastName" name="lastName" placeholder="" 
               formControlName="lastName" i18n-placeholder>
      </div>
    </div>
    <div class="row">
      <label for="phoneNumber" class="col-xs-12 col-lg-2 control-label" i18n>Phone</label>
      <div class="col-sm-12 col-lg-3">
        <input type="text" class="form-control" 
                id="phoneNumber" name="phoneNumber" placeholder="" 
                formControlName="phoneNumber" i18n-placeholder>
      </div>
      <label for="email" class="col-xs-12 col-lg-2 control-label" i18n>Email</label>
      <div class="col-sm-12 col-lg-3">
        <input type="text" class="form-control" 
                id="email" name="email" placeholder="" 
                formControlName="email" i18n-placeholder>
      </div>
    </div>      
</div>
