<div class="row">
  <div class="col-12">
      <div class="content-header" i18n>Properties</div>
      <p class="content-sub-header" i18n>List of your current properties.</p>
  </div>
</div>
<section id="extended">
  <div class="row" *ngIf="!isLoading">

    <section *ngIf="errorMessage">
        <div class='error'>
          <p>{{ errorMessage }}</p>
          <p>
            <a href="/login?returnUrl=/app/property/list">Login Again</a>
          </p>
        </div>
      </section>

      <div class="col-sm-12"  >
        <div class="card">
          <div class="card-body">
            <div class="card-block">

              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th i18n>Alias</th>
                    <th i18n>Address</th>
                    <th i18n>Units</th>
                    <th i18n></th>
                  </tr>
                </thead>

                <tfoot>
                  <td colspan="3"></td>
                  <td colspan="1">
                      &nbsp;<button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>+</button>
                  </td>
                  <!--
                  <td colspan="4">
                    
                    <div *ngIf="pagedItems && pagedItems.length > 0">
                        <pagination [totalItems]="totalItems" 
                                    [(ngModel)]="currentPage" 
                                    [maxSize]="maxSize"
                                    [boundaryLinks]="true" [rotate]="false" 
                                    [itemsPerPage]="itemsPerPage"
                                    (numPages)="numPages = $event"
                                    (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                    
                  </td> -->
                </tfoot>



                <tbody>
                  <tr *ngIf="properties && properties.length == 0">
                    <td colspan="4" i18n> 
                      You don't have any properties listed. Click the
                      <button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>Add</button>
                      button to start your journey.
                    </td>
                  </tr>
                  <tr *ngFor="let bl of properties"> 
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.name || bl.address.address1}}</a>
                    </td>
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.address?.address1}}</a>
                    </td>
                    <td>
                      <a *ngFor="let unit of bl.units; let isLast=last">
                        {{unit.number}}{{isLast ? '' : ', '}}
                      </a>
                    </td>
                    <td>
                      <button type="button" (click)="delete( bl.eid )" class="btn btn-secondary btn-sm" i18n>
                        <i class="ft-trash-2"></i>
                      </button>
                    </td> 
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!--
  <div class="col-lg-12 col-xs-12">
    <section class="widget" widget>
      <div class="widget-body">
        
        <div *ngIf="!isLoading" class="row">
          <div class="col-lg-12 col-xs-12"> -->
            <!-- <div style="height: 300px;">
              <propertymapgoogle [lat]="propertyMidPoint.lat" [lng]="propertyMidPoint.lng" [zoom]="propertyMidPoint.zoom" [markers]="markers"></propertymapgoogle>
            </div> --> <!--
            <div class="card">

              <table class="table table-responsive text-center">
                <thead>
                  <tr>
                    <th i18n>Alias</th>
                    <th i18n>Address</th>
                    <th i18n>Units</th>
                    <th i18n></th>
                  </tr>
                </thead> -->
                
                <!-- To re-enable pagination, un-comment this and tr loop and if from properties to pageItems                    
                    <tfoot>
                        <td colspan="2"></td>
                        <td colspan="2">
                            &nbsp;<button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>New Property</button>
                        </td>
                        
                        <td colspan="4">

                            <div *ngIf="pagedItems && pagedItems.length > 0">
                                <pagination [totalItems]="totalItems" 
                                            [(ngModel)]="currentPage" 
                                            [maxSize]="maxSize"
                                            [boundaryLinks]="true" [rotate]="false" 
                                            [itemsPerPage]="itemsPerPage"
                                            (numPages)="numPages = $event"
                                            (pageChanged)="pageChanged($event)"></pagination>
                            </div>
                        </td> 
                    </tfoot>--> <!--
                <tbody style="overflow: auto;  height: 200px;">
                  <tr *ngIf="properties && properties.length == 0">
                    <td colspan="4">
                  </tr>
                  <tr *ngIf="properties && properties.length == 0">
                    <td colspan="4" i18n> 
                      You don't have any properties listed. Click the
                      <button type="button" [routerLink]="['../edit']" class="btn btn-secondary btn-sm" i18n>Add</button>
                      button to start your journey.
                    </td>
                  </tr>
                  <tr *ngIf="properties && properties.length == 0">
                    <td colspan="4">&nbsp;</td>
                  </tr>
                  <tr *ngFor="let bl of properties"> 
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.name || bl.address.address1}}</a>
                    </td>
                    <td>
                      <a routerLink="../edit/{{bl.eid}}">{{bl.address?.address1}}</a>
                    </td>
                    <td>
                      <a class="list-comma" *ngFor="let unit of bl.units ">{{unit.number}}</a>
                    </td>
                    <td>
                      <button type="button" (click)="delete( bl.eid )" class="btn btn-secondary btn-sm" i18n>
                        <i class="glyphicon glyphicon-trash"></i>
                      </button>
                    </td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>> -->